// Colors variables
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-Dark: #28b485;
$color-primary-special-1:#28b550;
$color-primary-special-2: #36a001;

$color-secondary-light: #ffb900;
$color-secondary-Dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-Dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #333;

$color-grey-Dark: #777;
$color-grey-Dark-2: #999;
$color-white: #fff;
$color-black: #000;

// Font sizes
$default-font-size: 1.8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
